.moyo-button {
  font-family: var(--font-family-body), 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: var(--font-weights-body-regular);
  border-radius: var(--radius-base);
  display: flex;
  align-items: center;
  gap: calc(var(--spacing-04));
  cursor: pointer;
  font-size: var(--font-size-default);
  color: var(--text-on-color);
  line-height: var(--line-height-body-02);
  padding: calc(var(--spacing-04)) calc(var(--spacing-05));
}

.moyo-button--primary {
  background-color: var(--button-primary);
  border: var(--border-width-1) solid var(--button-primary);
}

.moyo-button--primary:hover {
  background-color: var(--button-primary-hover);
  border: var(--border-width-1) solid var(--button-primary-hover);
}

.moyo-button--primary:active {
  background-color: var(--button-primary-active);
  border: var(--border-width-1) solid var(--button-primary-active);
}

.moyo-button--secondary {
  background-color: var(--button-secondary);
  border: var(--border-width-1) solid var(--button-secondary);
}

.moyo-button--secondary:hover {
  background-color: var(--button-secondary-hover);
  border: var(--border-width-1) solid var(--button-secondary-hover);
}

.moyo-button--secondary:active {
  background-color: var(--button-secondary-active);
  border: var(--border-width-1) solid var(--button-secondary-active);
}

.moyo-button--danger {
  background-color: var(--button-danger);
  border: var(--border-width-1) solid var(--button-danger);
}

.moyo-button--danger:hover {
  background-color: var(--button-danger-hover);
  border: var(--border-width-1) solid var(--button-danger-hover);
}

.moyo-button--danger:active {
  background-color: var(--button-danger-active);
  border: var(--border-width-1) solid var(--button-danger-active);
}

.moyo-button--tertiary {
  background-color: transparent;
  border: var(--border-width-1) solid var(--button-tertiary);
  color: var(--button-tertiary);
}

.moyo-button--tertiary:hover {
  border: var(--border-width-1) solid var(--button-tertiary-hover);
  color: var(--button-tertiary-hover);
}

.moyo-button--tertiary:active {
  border: var(--border-width-1) solid var(--button-tertiary-active);
  color: var(--button-tertiary-active);
}

.moyo-button--ghost {
  border: var(--border-width-1) solid transparent;
  background: rgba(255,255,255,0);
  color: var(--button-tertiary);
}

.moyo-button--ghost:hover {
  color: var(--button-tertiary-hover);
}

.moyo-button--ghost:active {
  color: var(--button-tertiary-active);
}

.moyo-button--layer {
  background-color: var(--layer-01);
  border: var(--border-width-1) solid var(--layer-01);
  color: var(--text-primary);
}

.moyo-button--layer:hover {
  background-color: var(--layer-hover-01);
  border: var(--border-width-1) solid var(--layer-hover-01);
}

.moyo-button--layer:active {
  background-color: var(--layer-active-01);
  border: var(--border-width-1) solid var(layer-active-01);
}