/* header {
  background-color: var(--background-base);
} */

.wrapper {
  font-family: var(--font-family-body), 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-width-1) solid var(--border-subtle-00);
}

.moyo-topbar--left {
  display: flex;
}

.moyo-menu--toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: calc(var(--spacing-07));
  border-top:0;
  border-bottom:0;
  border-left: 0;
  border-right: var(--border-width-1) solid var(--border-subtle-00);
  height: 96px;
  width: 96px;
}

.moyo-menu--toggle:hover {
  background-color: var(--layer-01);
}

.moyo-menu--toggle:active {
  background-color: var(--layer-hover-01);
}

.moyo-menu--toggle svg {
  width: 32px;
  height: 30px;
  color: var(--text-primary);
}

.moyo-logo--topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--spacing-06));
  max-height: 96px;
}

.moyo-logo--topbar svg {
  height:auto;
}

img#brand-logo--topbar {
  height: 48px;
  width: auto;
}

.moyo-topbar--comsbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing-03));
}

.moyo-topbar--comsitem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-base);
  padding: calc(var(--spacing-05));
  border: var(--border-width-1) solid var(--border-subtle-00);
  border-radius: var(--radius-base);
  width: 48px;
  height: 48px;
}

.moyo-topbar--comsitem:hover {
  background-color: var(--layer-01);
}

.moyo-topbar--comsitem:active {
  background-color: var(--layer-hover-01);
}

.moyo-topbar--comsitem svg {
  color: var(--text-primary);
  width: 16px;
  height: 16px;
  max-width: 16px;
  max-height: 16px;
}

.moyo-topbar--right {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0;
  width: 100%;
  padding-left: calc(var(--spacing-05));
}

.moyo-topbar--right---itembase {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: calc(var(--spacing-07));
  border-top:0;
  border-bottom:0;
  border-right: 0;
  border-left: var(--border-width-1) solid var(--border-subtle-00);
  height: 96px;
  min-width: 96px;
  width:auto;
  gap: calc(var(--spacing-04));
  color: var(--text-primary);
  font-size: var(--font-size-default);
  font-family: var(--font-family-body), 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.moyo-topbar--right---itembase img {
  max-width: 24px;
  max-height: 24px;
}


.moyo-topbar--right---itembase:hover {
  background-color: var(--layer-01);
}

.moyo-topbar--right---itembase:active {
  background-color: var(--layer-hover-01);
}

.moyo-topbar--right---itembase svg {
  width: 32px;
  height: 30px;
  color: var(--text-primary);
}

.moyo-topbar--cart---count {
  font-family: var(--font-family-body), 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;
  top:0;
  right:0;
  padding: calc(var(--spacing-02)) calc(var(--spacing-02));
  background-color: var(--support-success);
  color: var(--text-inverse);
}

.moyo-points--badge {
  padding: calc(var(--spacing-02)) calc(var(--spacing-03));
  background-color: var(--button-primary);
  border-radius: calc(var(--radius-half));
  color: var(--text-on-color);
  font-size: 12px;
}

.moyo-topbar--userpanel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  gap: calc(var(--spacing-02));
}

.moyo-topbar--userpanel---avatar {
  position: relative;
  min-width: 48px;
  min-height: 48px;
  object-fit: cover;
  background-color: var(--brand-primary);
  border-radius: var(--radius-base);
}